<script type="text/template">
<% var nls = getLoginNLS(); %>
<div class="container">
	<div class="row">
		<div class="center-block" style="text-align: center;">
			<img src="themes/wavity/res/lib/custom/img/ICS_logo.png" style="width:50px; height:50px; margin-right: 10px;">
			<img src="themes/wavity/res/lib/custom/img/oneteam_logo.png" style="width:50px; height:50px;">
		</div>
	</div>
	<div class="row" style="margin-top: 50px;">
		<div class="center-block contentbox">
			<div class="tenantLogo">
				<img id="tenantBranding" style="width: 200; height: 30px;">
			</div>
			<form id="loginForm" method="post">
				<div class="col-xs-12 textFields">
					<input type="hidden" name="lt" value="" />
					<input type="hidden" name="execution" value="" />
					<input type="hidden" name="_eventId" value="submit" />
					<input type="hidden" name="prevAddress" value="" />
					<div class="form-group">
						<div class="inputLabel">
							<span class="userNameLabel text-12" style="display: none;">Enter Email</span>
						</div>
						<input id="username" name="username" class="form-control usertext" placeholder="Enter Email" tabindex="1" accesskey="u" type="text" value="" autocomplete="off">						
						<div class="formErrorMessage">
							<span class="help-inline color-red userNameInputErrorMessage"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="inputLabel">
							<span class="passwordLabel text-12" style="display: none;">Password</span>
						</div>
						<input id="password" name="password" class="form-control passwordtext" name="ot_password" placeholder="Password" tabindex="2" accesskey="p" type="password" value="" autocomplete="off">
						<div class="formErrorMessage">
							<span class="help-inline color-red passwordInputErrorMessage"></span>
						</div>
					</div>
					<div class="serverErrorMsg">
						<span class="color-red text-14" id="errorMessage"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" style="margin-top: 30px;">
						<div class="pull-right">
							<input type="submit" class="btn btn-primary color-black text-16" style="margin-right: 30px;" id="submitLoginForm" value="<%= nls.LOGIN %>">
						</div>
						<div class="pull-left">
							<a id="forgetPasswordLink" href="javascript:;;" style="text-decoration: none;">
								<span class="text-14 color-blue" style="margin-left: 15px;"><%= nls.FORGOTPWD %></span>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="center-block externalLinks">
			<a href="https://docs.wavity.com" target="_blank" style="margin-right: 10px; text-decoration: none;">
				<span class="text-12 color-grey">Help</span>
			</a>
			<a href="https://www.wavity.com/privacy-policy" target="_blank" style="margin-right: 10px; text-decoration: none;">
				<span class="text-12 color-grey">Privacy</span>
			</a>
			<a href="https://www.wavity.com/tos" target="_blank" style="text-decoration: none;">
				<span class="text-12 color-grey">Terms</span>
			</a>
		</div>
	</div>
	<div class="row" style="margin-top: 5%; margin-bottom: 2%;">
		<div class="center-block" style="text-align: center;">
			<img src="themes/wavity/res/lib/custom/img/wavity_logo.png" style="width:200px; height:30px;">
		</div>
	</div>
</div>
</script>